body {
    margin:0;
    padding: 0;
    text-align: center;
    
}

#game-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-image: url("../images/nokia.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
}

#game-intro {
    display: flex;
    outline: 10px black solid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#game-screen {
    position: relative;
    border: 5px red solid;
    margin-top: 8vh;
}

#game-end {
    display: none;
    outline: 10px yellow solid;
    margin-top: 8vh;
}

.snake {
    padding: 0;
    margin: 0;
}

.snake-body {
    background-color: black;
}

.screen {
    height: 46vh;
    width: auto;
    aspect-ratio: 23 / 17;
}

.flex {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.up {
    transform: rotate(0);
}

.down {
    transform: rotate(180deg);
}

.right {
    transform: rotate(90deg);
}

.left {
    transform: rotate(270deg);
}