@font-face {
    font-family: nokia;
    src: url("../font/nokia.ttf");
}

body {
    margin:0;
    padding: 0;
    text-align: center;
    font-family: nokia;
    font-size: 2.5vh;
    line-height: 1vh;
    
}

#game-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-image: url("../images/phone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
}

#game-intro {
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
}

#game-screen {
    position: relative;
    margin-top: 8vh;
}

#game-end {
    display: none;
    margin-top: 8vh;
}

.snake {
    padding: 0;
    margin: 0;
}

.snake-body {
    background-color: black;
}

.screen {
    height: 46vh;
    width: auto;
    aspect-ratio: 23 / 17;
}

.flex {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.up {
    transform: rotate(0);
}

.down {
    transform: rotate(180deg);
}

.right {
    transform: rotate(90deg);
}

.left {
    transform: rotate(270deg);
}

button {
    margin: 4vh;
    padding: 2vh;
    border: 0.8vh black solid;
    background-color: transparent;
    font-family: nokia;
    font-size: 0.9em;
}